body, html {
  height: 100%;
  margin: 0;
  font: 400 20px/1.8 "Lato", sans-serif;
  color: #777;

}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("burgerbackground.jpg");
  min-height: 100%;
  margin: auto;

}

.logo.png {
  max-width: 100%;
  height: auto;
}

.img {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.icon {
  position: bottom;
  width: 100%;

}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

 /*SOCIAL MEDIA BUTTONS */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

/*SOCIAL MEDIA BUTTONS*/

.orbit {
  padding-top: -20px;
}

#logo {
    display: block;
    margin: auto;
    padding-top: 150px;
}

.map{
  position:relative;
  lowe
}
