body, html {
  height: 100%;
  margin: 0;
  font: 400 20px/1.8 "Lato", sans-serif;
  color: #777;

}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif; /* link fonts */

	padding: 45px 30px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color:  #;
	border-radius: 0px;

	font-size: 20px;
	color: #ffffff;
	text-align: right;
	line-height: 35px;

	margin-right: 10px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("burgerbackground.jpg");
  min-height: 100%;
  margin: auto;

}

.logo.png {
  max-width: 100%;
  height: auto;
}

.img {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.icon {
  position: bottom;
  width: 100%;

}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

 /*SOCIAL MEDIA BUTTONS */

.fa {
  padding: 20px;
  font-size: 50px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  opacity: 0.7
}

.fa:hover {
    opacity: ;
}

.fa-facebook {
  background: ;
  color: white;
}

.fa-twitter {
  background: ;
  color: white;
}

.fa-instagram {
  background: ;
  color: white;
}

.fa-tumblr {
  background: ;
  color: white;
}
div#iframe-wrapper {
  width: 200px;
  height: 400px;
  margin: 0 auto;
}
/*SOCIAL MEDIA BUTTONS*/

#logo {
    display: block;
    margin: auto;
    padding-top: 150px;
}

/*Social Media Buttons END*/

/*Start Navigation*/
.nav-large-12 {
  width: 100%;
  position: fixed;
  color: black;
}



.top-bar {
  background-color: black;
}

.title-bar-title h3 {
  color: white;
  background-color: black;
  padding-right: 60px;
  padding-left: 40px;
}

.top-bar-right a {
  color: white;
}

.topbar-center-logo {
  background: black;
}

.topbar-center-logo .menu {
  background: black;
}

.topbar-center-logo .menu a {
  color: white;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: black;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}


/*.title-bar-title h3 {
  color: white;
  padding-right: 60px;
  padding-left: 40px;
}

.top-bar-right a  {
  color: white;
}

.grid-x, .grid-margin-x {
  background-color: black;
}

.grid-container {
  max-width: inherit;
  z-index: 5;
  position: fixed;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}


.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}*/


/*End Navigation*/
